body {
    margin: 0;
    padding: 0;
    background: url('../ASSETS/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

.nav-bar {
    padding: 10px 20px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    margin: 0 auto; 
    width: fit-content; 
    background: -webkit-linear-gradient(left, rgb(0, 51, 102), rgb(0, 64, 128), rgb(0, 89, 179), rgb(0, 115, 230)); 
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar a.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-bar a.nav-link:hover {
    color: #ccc;
}

.nav-profile {
    margin-left: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 20px;
    gap: 20px; 
}

.card {
    background-color: rgba(255, 255, 255, 0.65); 
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 300px; 
    font-family: "Poppins", sans-serif;
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: translateY(-10px); /* Lift the card */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1); 
}

.card h2 {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card button {
    background: -webkit-linear-gradient(left, rgba(0, 51, 102, 0.8), rgba(0, 64, 128, 0.8), rgba(0, 89, 179, 0.8), rgba(0, 115, 230, 0.8)); /* Slight transparency */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.card button:hover {
    background: -webkit-linear-gradient(left, rgba(0, 34, 68, 0.8), rgba(0, 51, 102, 0.8), rgba(0, 64, 128, 0.8), rgba(0, 89, 179, 0.8));
}