.nav-bar {
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar a.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-bar a.nav-link:hover {
    color: #ccc;
}

.nav-profile {
    margin-left: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start (left) */
    align-items: flex-start;
    padding: 20px;
    gap: 20px; /* Space between cards */
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
    padding: 20px;
    width: 300px; /* Consistent width */
    font-family: "Poppins", sans-serif;
    text-align: center; /* Center text and button */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.card:hover {
    transform: translateY(-10px); /* Lift the card */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1); /* Increase shadow depth */
}

.card h2 {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card button {
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.card button:hover {
    background: -webkit-linear-gradient(left, #002244, #003366, #004080, #0059b3);
}
